<div class="container cart-index-wrapper">
  <h3>ショッピングカート</h3>
  <% if @cart_products.present? %>
    <div class="text-right">
      <%= link_to "カートを空にする", cart_products_destroy_all_path, method: :delete, class: "btn btn-sm btn-danger ", "data-confirm" => "カート内の商品を全て削除しますか？" %>
    </div>
    <div class="row cart-table">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @sum = 0 %>
          <% @cart_products.each do |cart_product| %>
          <tr>
            <td>
              <%= attachment_image_tag cart_product.product, :image, class: 'cart-product-index-image' %>
              <%= cart_product.product.name %>
            </td>
            <td>¥<%= converting_to_jpy(cart_product.product.tax_included) %></td>
            <%= form_with model: cart_product, local:true do |f| %>
            <td>
              <%= f.select :quantity, {'1': 1, '2': 2, '3': 3, '4': 4, '5': 5}, :selected => cart_product.quantity, class: "form-control col mr-3" %>
              <%= f.submit "編集", class: "btn btn-sm btn-secondary" %>
            </td>
            <td>¥<%= converting_to_jpy(cart_product.product.price * cart_product.quantity) %></td>
            <td><%= link_to cart_product_path(cart_product), class: "text-dark", method: :delete do %><i class="fas fa-trash-alt fa-lg"></i><% end %></td>
            <% end %>
          </tr>
          <% @sum += cart_product.product.price * cart_product.quantity %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <th>合計金額</th>
            <td>¥<%= converting_to_jpy(@sum) %></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="row justify-content-center">
      <%= link_to "＜　買い物を続ける　", products_path, class: "btn btn-sm btn-outline-secondary mr-5" %>
      <%= link_to "　情報入力に進む　＞", new_order_path, class: "btn btn-sm btn-outline-secondary ml-5" %>
    </div>
  <% else %>
    <h5 class="text-center">カートには何もありません！</h5>
  <% end %>
</div>