<div id="slideshow-container">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
  </div>
</div>

<div class="container">
  <div class="main-visual">
    <h1 class="main-introduction">Welcome to Nagano Cake</h1>
    <p>
      素材にこだわった商品をご用意しています。<br>
      午後のひとときにいかがでしょうか。
    </p>
  </div>
  <h3 class="sub-introduction">New Products</h3>
  <ul class="new_products my-4">
    <li><%= link_to product_path(id: 3) do %><%= image_tag('products/chocolatecake.jpg', class: 'float') %><% end %></li>
    <li><%= link_to product_path(id: 21) do %><%= image_tag('products/strawberrytart.jpg', class: 'float') %><% end %></li>
    <li><%= link_to product_path(id: 20) do %><%= image_tag('products/blueberrycake.jpg', class: 'float') %><% end %></li>
    <li><%= link_to product_path(id: 12) do %><%= image_tag('products/vagepoundcake.jpg', class: 'float') %><% end %></li>
  </ul>
  <div class="btn-to-detail">
    <%= link_to "　全ての商品を見る　", products_path, class: 'btn btn-sm btn-secondary' %>
  </div>
</div>
