<p id="notice"></p>
<div class="container">
  <div class="row">
    <h3>注文履歴詳細</h3>
  </div>
    <table class="my-3 new-customer">
      <tr class="row my-3">
        <td class="col-3">購入者</td>
        <td class="col-8">
          <%= link_to admin_customer_path(@order.customer) do %>
            <%= @order.customer.last_name + @order.customer.first_name %>
          <% end %>
        </td>
      </tr>
    
      <tr class="row my-3">
      <td class="col-3">注文日</td>
        <td class="col-8"><%= @order.created_at.strftime('%Y/%m/%d')%></td>
      </tr>
      
      <tr class="row my-3">
        <td class="col-3">配送先</td>
        <td class="col-8"><%= "〒" + @order.postcode + " " + @order.address %><br><%= @order.name %></td>
      </tr>
      
      <tr class="row my-3">  
        <td class="col-3">支払い方法</td>
        <td class="col-8"><%= @order.payment %></td>
      </tr>
        
      <tr class="row my-3">  
        <td class="col-3">注文ステータス</td>
        <%= form_with model: [:admin,@order], url: admin_order_path(@order),method: :patch, local: true do |f|%>
          <!-- f.select :order_status, ['入金待ち', '入金確認', '製作中', '発送準備中', '発送済み'] -->
          <td class="col-8">
            <%= f.select :order_status, Order.order_statuses_i18n.invert, {prompt: 0}, class:"form-control form-control-sm col-2"  %>
            <%= f.submit "更新", class: "btn btn-success" %>
          </td>
        <% end %>
      </tr>
</table>

   <table class="table table">
    <thead>
      <tr>
        <th>商品名</th>
        <th>単価（税込）</th>
        <th>数量</th>
        <th>小計</th>
        <th>製作ステータス</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @order_products.each do |order_product| %>
       <tr>
        <td><%= order_product.product.name %></td>
        <td><%= converting_to_jpy((order_product.product.price * 1.1).floor) %></td>
        <td><%= order_product.quantity %></td>
        <% total = converting_to_jpy((order_product.product.price * 1.1).floor) %> <!--税込み価格を代入 -->
        <td><%= converting_to_jpy(((order_product.product.price * 1.1) * order_product.quantity).floor) %></td>
          <%= form_with model: [:admin,order_product], url: admin_order_product_path(order_product),method: :patch, local: true do |f|%>
           <td>
            <%= f.select :product_status, OrderProduct.product_statuses_i18n.invert, {prompt: 0}, class:"form-control form-control-sm col-6"  %>
            <%= f.submit "更新", class: "btn btn-success" %>
           </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
   </table>
   
     <table>
       
       <% @shipping = 800 %>
      <tr>
        <td>商品合計</td>
        <td><%= @order.total_price.to_s(:delimited) %>
      </tr>
   
      <tr>
        <td>送料</td>
        <td><%= @shipping %></td>
      </tr>
      
      <tr>
        <td>請求金額合計</td>
        <td></td>
      </tr>
      
    </table>
  </div>




