<h3>ジャンル一覧・追加</h3>

<%= form_with model: [:admin, @genre], local:true do |f| %>
<%= f.text_field :name, placeholder: "ジャンル名", size: "30", class: "form-control" %>
<%= f.submit '新規登録' %>
<% end %>


<p>ジャンル名</p>
<table class="table table-striped shadow p-3 mb-5 bg-white rounded">
  <thead>
    <th>
      <td>ジャンル</td>
    </th>
  </thead>
  <tbody>
<<<<<<< HEAD
    <% @genre.each do |genre| %>
    <tr>
      <th>
        <td><%= genre.name %></td>
        <td><%= link_to edit_admin_genre_path(genre.id) %></td>
=======
    <% @genres.each do |genre| %>
    <tr>
      <th>
        <td><%= genre.name %></td>
        <td><%= link_to "編集", edit_admin_genre_path(genre.id) %></td>
>>>>>>> 7b6dc20366d9781963da8b77f0fd6e67ec3200ff
      </th>
    </tr>
    <% end %>
  </tbody>
</table>